/.env.local
/.env.prod
/.env.local.php
/.env.*.local
/.idea/
/config/secrets/prod/prod.decrypt.private.php
/docker/data/
/public/bundles/
/var/
/vendor/
/phpunit.xml
.phpunit.result.cache
/config/jwt/*.pem
*.sql
.pnpm-store
.phpunit
