{% extends 'base.html.twig' %}

{% block title %}New Team{% endblock %}

{% block body %}
    <h1 class="font-extrabold text-2xl my-4">Create new Team</h1>
    <a class="text-zinc-400 underline" href="{{ path('app_team_index') }}">Back to the list</a>

    {{ include('Admin/team/_form.html.twig') }}


{% endblock %}
