{% extends 'base.html.twig' %}

{% block title %}New Standing{% endblock %}

{% block body %}
    <h1 class="font-extrabold text-2xl my-4">Create new Standing</h1>
    <a class="text-zinc-400 underline" href="{{ path('app_standing_index') }}">back to list</a>

    <div class="container my-4 mx-auto px-4 sm:px-6 lg:px-8">
        {{ include('standing/_form.html.twig') }}
    </div>

{% endblock %}
