<form method="post" action="{{ path('app_league_delete', {'id': league.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ league.id) }}">
    <button class="p-2 bg-red-600 text-white rounded-lg border-2">Delete</button>
</form>
