{% extends 'base.html.twig' %}

{% block title %}New League{% endblock %}

{% block body %}
    <h1 class="font-extrabold text-2xl my-4">Create new League</h1>
    <a class="text-zinc-400 underline" href="{{ path('app_league_index') }}">Back to list</a>

    {{ include('league/_form.html.twig') }}

{% endblock %}
