{% extends 'base.html.twig' %}

{% block title %}Edit Sport{% endblock %}

{% block body %}
    <h1 class="font-extrabold text-2xl my-4">Edit Sport</h1>
    <a class="text-zinc-400 underline" href="{{ path('app_sport_index') }}">Back to list</a>

    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        {{ include('sport/_form.html.twig', {'button_label': 'Update'}) }}
        {{ include('sport/_delete_form.html.twig') }}
    </div>

{% endblock %}
